In [155]:
from pandas import *
import datetime
from datetime import date

In [171]:
df = read_csv('test_cust_pickle.txt', header = None, delimiter = '|')

In [172]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,144-86-1645,Major,Robel,M,63122 Luverne Lake,Fort Wayne,IN,46807,41.0491,-85.1462,305409,Site engineer,1993-02-27,77,millenials.json
1,821-26-1914,Lorelei,Daniel,F,9993 Bose Well,Allentown,PA,18102,40.6068,-75.4781,166081,Sports development officer,1922-01-12,7292506,all_60_up.json
2,624-92-8243,Viviana,Barton,F,09970 Ledner Lodge Apt. 535,Charleston,SC,29410,32.9302,-80.0027,195110,Clinical biochemist,1920-12-27,77318,all_60_up.json
3,111-29-8396,Dominga,West,F,6988 Breitenberg Extensions,Belleville,NJ,7109,40.7946,-74.1631,35897,"Administrator, education",1958-06-03,93,40_60_smaller_cities.json
4,693-14-8920,Shirleyann,Blanda,F,957 Runte Mountain Apt. 527,Waco,TX,76798,31.5470,-97.1203,148766,"Teacher, English as a foreign language",1952-04-11,8980,all_60_up.json

In [173]:
def to_date(d):
    d = [int(i) for i in d.split('-')]
    return date(d[0], d[1], d[2])
    

ages = (date(2015,12,2) - df.loc[:, 12].apply(lambda x: to_date(x))).apply(lambda x: x/365.)

In [174]:
new = {}
for i in ages.index:
    new[i] = ages[i].days
ages = DataFrame.from_dict(new, orient = 'index')
ages.columns = ['age']

In [175]:
ages.age.value_counts()

56    224
58    204
43    201
53    201
57    200
59    200
47    196
50    194
27    188
61    185
48    184
63    183
40    178
52    177
46    176
49    176
55    174
41    172
24    167
62    164
51    164
38    163
30    162
54    162
33    162
22    160
26    158
35    158
31    158
42    157
     ...
72     84
74     82
73     80
79     79
71     77
75     74
78     70
76     68
80     62
95     60
84     59
82     58
77     58
81     55
86     54
83     54
89     48
93     47
92     47
85     46
94     45
87     43
90     39
91     38
88     36
18     21
16     19
15     18
17     17
96      1
Name: age, dtype: int64

In [53]:
import cPickle as pickle
import random

age_gender = pickle.load(open('/Users/jplotkin/Dropbox/pivotal/data_generation/datagen_github/data_generation/data_generation/datagen_python/pickles/age_gender.pickle', 'rb'))

In [70]:
ages = {}

for i in range(100):
    ages[i] = age_gender[min([a for a in age_gender if a > np.random.random()])][1]
df = DataFrame.from_dict(ages, orient = 'index')
df.columns = ['age']

In [73]:
df.age.value_counts()

26    14
24    12
25     9
29     8
28     8
21     8
23     8
22     5
19     5
27     5
31     4
30     4
20     2
38     2
32     2
35     1
34     1
17     1
15     1
Name: age, dtype: int64

In [82]:
agesex = DataFrame.from_dict(age_gender, orient = 'index')
agesex.columns = 'sex','age'
agesex.sort_index(inplace = True)

In [96]:
r = np.random.random()
r

0.8988300154759482

In [110]:
r = np.random.random()
age_gender[min([a for a in age_gender if a > r])]

('Male', 57.0)

0.48488507821648896

In [152]:
min([np.random.uniform(0,1) for a in age_gender if a > np.random.uniform(0,1)])

[0.8078515014110982,
 0.9019658539045637,
 0.11435181400166239,
 0.04515061831807243,
 0.8415368474787046,
 0.4628879461716967,
 0.7198945647295121,
 0.9624651340911056,
 0.04246385203670999,
 0.3878491976248609,
 0.8890740943145938,
 0.02115176897015225,
 0.5496537359037934,
 0.9771898191541242,
 0.13919801616559102,
 0.4064399250359042,
 0.006056716560041586,
 0.9606053357327292,
 0.2974616705276837,
 0.6759924399578466,
 0.7465147186033126,
 0.7365147548240831,
 0.03902972979414132,
 0.35401445444191615,
 0.9814418462254517,
 0.7783342733115417,
 0.8028978634841565,
 0.5440584204395583,
 0.049143131101296866,
 0.3878126714044975,
 0.17029765138155595,
 0.8507318548624071,
 0.23022712524785804,
 0.2210260429515929,
 0.775069300716339,
 0.56799203924545,
 0.458112784809953,
 0.9684351830718742,
 0.09307260748006418,
 0.6124702619665369,
 0.17413712181122376,
 0.5227864109246635,
 0.6223670427052743,
 0.41598831967067473,
 0.6952098395950158,
 0.006849931504167683,
 0.5099567660773134,
 0.27386381122695336,
 0.8333711667499706,
 0.18394863086269497,
 0.5717322094073333,
 0.10450931664152596,
 0.8350031947855218,
 0.5828478493590277,
 0.009276102204776149,
 0.07049735022346404,
 0.03915365320011566,
 0.8541588765600486,
 0.8380166016649748,
 0.21182898834475128,
 0.9569817150925227,
 0.20645581821446723,
 0.621285869644425,
 0.053306961994073476,
 0.31712493500403893,
 0.017478856919179053,
 0.47956106700900314,
 0.43413107868310774,
 0.42006676090067363,
 0.38354850513951366,
 0.7534911389250661,
 0.8131651294542139,
 0.03419171024224055,
 0.9640345162423061,
 0.3843072253561991,
 0.6816882691738062,
 0.6772255516999698,
 0.3166815791534642,
 0.06529208088178928,
 0.4198866298019508,
 0.9133946647572445,
 0.6839756492138054,
 0.24667030602891848,
 0.36983115260431343,
 0.42583621976980957,
 0.33226441087714276,
 0.9637748886211216,
 0.2742588801609068,
 0.19972005366753331,
 0.5284656354425935,
 0.2497092199657771,
 0.045565031387970634,
 0.13571927112297244,
 0.7995048307751349,
 0.031138855208864835,
 0.04279461961084574,
 0.9031223052690638,
 0.9886512563211162,
 0.4595479511506847]

0.7560079552452711